.modal-scrollbar::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: transparent;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: darkgrey;
}

.modal-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.modal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: relative;
  text-align: center;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: white;
}
